@import "variables";
@import "mixins";
@import "functions";
@import "typography";

body {
}

.post{
  &_header {
    margin-top: step(5);
    margin-bottom: step(6);

    h1 {
      margin-bottom: step(1);
    }

    .posted {
      margin-top: 0;
    }
  }
}
