@import "variables";
@import "mixins";
@import "functions";
@import "typography";
@import "hamburgers/hamburgers";

body {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  background: #FAFAFA;  
}

.content-container {
  max-width: 720px;
  margin: auto step(1);
}

.post{
  &_header {
    margin-top: step(5);
    margin-bottom: step(6);

    h1 {
      margin-bottom: step(1);
    }

    .posted {
      margin-top: 0;
    }
  }
}

.archive-header {
  margin-top: step(5);
  margin-bottom: step(6);
}

table {
  border-collapse: collapse;
  margin-bottom: step(3);

  th, td {
    text-align: left !important;
    border: 1px $body solid;
  }

  thead {
    tr {
      background: $table_light;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background: $table_light;
      }

      &:nth-child(odd) {
        background: $table_dark;
      }
    }
  }
}

hr {
  border:none;
  border-top: 1px $border solid;
  margin: step(3) auto;
}

img {
  width: 100%;
  border-radius: step(1);
  box-shadow: 0 step(0.5) step(1) rgba(23,18,25,.25)
}

.navigation{ 
  &-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #FAFAFA;
    box-shadow: 0 step(1) step(2) rgba(23,18,25,.25);
  }

  &-nav {
    display: none;
    padding: step(2) 0 0;
    margin: auto step(1);
    width: calc(100% - 16px);
    border-top: 1px solid rgba(60,55,68,0.05);

    .link {
      display: block;
      width: 100%;
      margin-bottom: step(2);
      font-size: step(2.5);
      line-height: step(3);
      color: #333;

      &:last-child {
        margin-bottom: step(2.5);
      }
    }
  }
}

.hamburger {
  height: 56px;
  float: right;
}

.social {
  display: flex;
  flex-wrap: wrap;

  &-link {
    width: step(3);
    margin-right: step(2.5);
    margin-bottom: step(2.5);
  }

  .icon {
    display: block;
    width: step(3);
    height: step(3);
  }
}

article {
  margin-top: 48px;
}

.read-more-link {
  margin: step(3) step(0);
  font-size: step(2);
  line-height: step(3);
}

@media screen and (min-width: 960px) {
  body {
    grid-template-columns: 240px auto;
  }

  .navigation {
    &-container {
      grid-column-start: 1;
      grid-column-end: 2;
      max-width: 240px;
      box-shadow: none;
    }

    &-nav {
      display: block !important;
      margin: step(5) 0 0 step(5);
      padding: step(0);
      border-top: unset;
    }
  }

  .hamburger {
    display:none;
  }

  .content-container {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto;
  }

  .post {
    &_header {
      margin-bottom: step(8);
    }
  }

  .archive-header {
    margin-bottom: step(8);
  }
}

@media screen and (min-width: 1200px) {
  body {
    grid-template-columns: 1fr 720px 1fr;
  }
}
